Repository willwillis/fast-api-scripture-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-backend-lockfile, check-frontend-lockfile, check-dependency-sync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: debug-statements

  - repo: local
    hooks:
      - id: check-backend-lockfile
        name: Check backend lockfile
        entry: bash -c 'cd backend && uv lock --check'
        language: system
        files: ^backend/pyproject\.toml$
        pass_filenames: false

      - id: check-frontend-lockfile
        name: Check frontend lockfile
        entry: bash -c 'cd frontend && npm ci --dry-run'
        language: system
        files: ^frontend/package\.json$
        pass_filenames: false

      - id: check-dependency-sync
        name: Check dependency synchronization
        entry: bash -c 'cd backend && uv lock --check && cd ../frontend && npm ci --dry-run && echo "âœ… All dependency lockfiles are in sync!"'
        language: system
        files: ^(backend/pyproject\.toml|frontend/package\.json)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        exclude: ^frontend/node_modules/
        additional_dependencies:
          - prettier@^3.0.0

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.57.1
    hooks:
      - id: eslint
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        exclude: ^frontend/node_modules/
        additional_dependencies:
          - eslint@^8.57.1
          - '@eslint/js@^9.31.0'
          - '@typescript-eslint/eslint-plugin@^6.21.0'
          - '@typescript-eslint/parser@^6.21.0'
          - eslint-plugin-react@^7.37.5
          - eslint-plugin-react-hooks@^4.6.2

house keeping
  CONTRIBUTING.md
  README.md
  backend/app/main.py
  backend/mypy.ini
  backend/pyproject.toml
  docs/README.md
  docs/automation-guide.md
  docs/developer-guide.md
  docs/getting-started.md
  docs/operations-guide.md
  docs/prompts.md
  docs/testing-guide.md
Due: check-backend-lockfile, check-dependency-sync

uv
  backend/uv.lock
Due: none

fixed uv.lock logic
  backend/.pre-commit-config.yaml
Due: none

organizing docs
  README.md
  docs/README.md
  docs/screenshots/README.md
Due: none

brief architecture overview
  docs/README.md
  docs/architecture.md
Due: none

Add security feature to README
  README.md
Due: none

streamlined README
  README.md
Due: none

Update Codecov action to v4
  .github/workflows/ci.yml
Due: none

codecov
  CONTRIBUTING.md
  README.md
Due: none

codecov
  README.md
Due: none

badges
  README.md
Due: none

added python 3.13 to tests, and bumped node-version to 20, which is required for Vitest v4
  .github/workflows/ci.yml
Due: none

tailwind migration from v3 to v4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/tailwind.config.js.backup
Due: check-frontend-lockfile, check-dependency-sync

Bump to version 1.4.0
  backend/pyproject.toml
  frontend/package.json
Due: check-backend-lockfile, check-frontend-lockfile, check-dependency-sync

chore: bump safe minor/patch dependencies
  backend/uv.lock
  frontend/package-lock.json
Due: none

chore: bump version to 1.5.0
  backend/pyproject.toml
  frontend/package.json
Due: check-backend-lockfile, check-frontend-lockfile, check-dependency-sync

chore: regenerate uv.lock to reflect v1.5.0 version bump
  backend/uv.lock
Due: none

feat: upgrade to React 19, Vite 8, ESLint 10, TypeScript 6, React Router v7
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/vite-env.d.ts
Due: check-backend-lockfile, check-frontend-lockfile, check-dependency-sync

fix: remove eslint-plugin-react — incompatible with ESLint 10 and unused
  frontend/package-lock.json
  frontend/package.json
Due: check-frontend-lockfile, check-dependency-sync

fix: post-React 19 cleanup — remove dead deps, wire up ESLint plugins, modernize entry
  .github/workflows/ci.yml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/vite-env.d.ts
  frontend/vite-env.d.ts
Due: check-frontend-lockfile, check-dependency-sync

docs: update CHANGELOG.md with v1.4.0, v1.5.0, and v1.6.0 entries
  CHANGELOG.md
Due: none
